# API handling
fastapi    
uvicorn[standard]
pydantic

python-dotenv
# HTTP calls
requests
httpx
# database/auth
firebase-admin
supabase
# text processing
nltk
huggingface_hub
# websearch
tavily-python
# file upload handling
python-multipart
# auth
PyJWT

transformers
torch
Pillow
